@import "~bootstrap/scss/bootstrap.scss";

body{
    width: 100%;
    height: 100vh;
    font-family: 'Indie Flower', cursive;
    font-size: 2rem;
    background: url("https://images.unsplash.com/photo-1559311648-addd6af95dd4?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80") no-repeat;
    background-size: cover;
    background-position: 25% 25%;
    background-color: #c6c4c3;
}

h1{
     font-family: 'Kiwi Maru', serif;
     font-size: 4.5rem;
     color: rgba(224, 20, 20, 0.5);
}

.list-container{
    background: #f5deb3;
    width: 100%;
    max-width: 600px;
    min-height: 500px;
    box-shadow:
        0 1px 1px rgba(0,0,0,0.15), /* The top layer shadow */
        0 10px 0 -5px #f5deb3, /* The second layer */
        0 10px 1px -4px rgba(0,0,0,0.15), /* The second layer shadow */
        0 20px 0 -10px #f5deb3, /* The third layer */
        0 20px 1px -9px rgba(0,0,0,0.15); /* The third layer shadow */
}

input[type="text"]{
    border: none;
    width: 100%;
    background: transparent;
}

.checkbox{
    opacity: 0;
    position: absolute;
}

.custom-checkbox{
    display: flex;
    justify-content: center;
    cursor: pointer;
    margin-right: 15px;
    width: 30px;
    height: 30px;
    border: 2px solid currentColor;
    border-radius: 50%;
}

.list-item:hover{
    .checked::after{
        display: block;
    }
}

.list-item:hover{
    .checked::before{
        display: none;
    }
}

.checked::before, .checked::after{
    content: "\2713";
    font-size: 40px;
    position: relative;
    left: 3px;
}

.checked::after{
    color: rgb(238, 234, 234);
    display: none;
}

.checked::before{
    color: rgba(224, 20, 20, 0.5);
    display: block;
}

.custom-checkbox,
.checked::before,
.checked::after,
.delete-icon{
    align-self: center;
}

:-ms-input-placeholder{
    color: rgba(224, 20, 20, 0.5);
}

::-ms-input-placeholder{
    color: rgba(224, 20, 20, 0.5);
}

::placeholder{
    color: rgba(224, 20, 20, 0.5);
    opacity: 1;
}

.list-container li{
    border-bottom: 1px solid rgb(114, 30, 30);
    padding: 5px;
    color: black;
}

.delete-icon{
    display: none;
    font-size: smaller;
}

.list-item:hover{
    color: rgb(238, 234, 234);
    transition: background 0.5s;
    background: rgba(224, 20, 20, 0.5);
    .delete-icon{
        display: block;
        cursor: pointer;
    }
}

.total-items{
    color: rgba(224, 20, 20, 0.5);
    .delete-list:hover{
        border: 1px solid rgb(114, 30, 30);
        background: rgba(224, 20, 20, 0.5);
        color: rgb(238, 234, 234);
        border-radius: 5%;
}
}

