@import "~bootstrap/scss/bootstrap.scss";

body{
    height: 100vh;
    font-family: 'Indie Flower', cursive;
    font-size: 2rem;
    background: url("https://images.unsplash.com/photo-1559311648-addd6af95dd4?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80") no-repeat;
}

h1{
     font-family: 'Kiwi Maru', serif;
     font-size: 4.5rem;
     color: rgba(224, 20, 20, 0.5);
}

.list-container{
    background: #f5deb3;
    width: 100%;
    max-width: 600px;
    min-height: 500px;
    box-shadow:
        0 1px 1px rgba(0,0,0,0.15), /* The top layer shadow */
        0 10px 0 -5px #f5deb3, /* The second layer */
        0 10px 1px -4px rgba(0,0,0,0.15), /* The second layer shadow */
        0 20px 0 -10px #f5deb3, /* The third layer */
        0 20px 1px -9px rgba(0,0,0,0.15); /* The third layer shadow */
}

input{
    border: none;
    width: 100%;
    background: transparent;
}

:-ms-input-placeholder{
    color: rgba(224, 20, 20, 0.5);
}

::-ms-input-placeholder{
    color: rgba(224, 20, 20, 0.5);
}

::placeholder{
    color: rgba(224, 20, 20, 0.5);
    opacity: 1;
}

.list-container li{
    border-bottom: 1px solid rgb(114, 30, 30);
    padding: 5px;
    color: black;
}

.delete-icon{
    display: none;
}

.list-item:hover{
    color: rgb(238, 234, 234);
    transition: background 0.5s;
    background: rgba(224, 20, 20, 0.5);
    .delete-icon{
        display: block;
    }
}

.total-items{
    color: rgba(224, 20, 20, 0.5)
}